.storepage{
    background-color: bisque;
    height: 100vh;
}
.truffle-list{
    background-color: bisque;
    padding: 0 4rem;

    &__labels-container{
        display: flex;
    }

    &__label{
       width: 20%;
    }
}