.pagebar{
    background-color: aquamarine;

    &__container{
        display: flex;
        justify-content: space-between;
    }

    &__button{

        &:hover{
            cursor: pointer;
        }
    }
}