@use "../../styles/partials/variables" as *;

.pagebar{
    background-color: $Secondary-Background-Color;
    padding: 0 8rem;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button{

        background-color: $Primary-Text-Color;
        color: white ;
        height: 4rem;
        width: 16rem;
        border: none;
        border-radius: 2rem;
        &:hover{
            cursor: pointer;
        }
    }
}