@use "../../styles/partials/variables" as *;

.edit-inventory{
    background-color: $Secondary-Background-Color;
    height: 100vh;
    padding: 4rem;

    &__page-title{
        margin: 0;
    }
}

.form{

    margin-top: 8rem;

    
    &__input-container{
        display: flex;
        justify-content: space-around;
        height: 20rem;
    }

    &__input{

        width: 100%;
        margin-bottom: 6rem;


        &--left{
            display: flex;
            flex-direction: column;
        }

        &--right{
            display: flex;
            flex-direction: column;
        }
    }

    &__buttons-wrapper{
        display: flex;
        justify-content: flex-end;
        margin-right: 18rem;
    }

    &__button{
        background-color: $Primary-Text-Color;
        color: white ;
        font-size: 2.2rem;
        height: 4rem;
        width: 16rem;
        border: none;
        border-radius: 2rem;
        &:hover{
            cursor: pointer;
        }
        margin-left: 2rem;

        &--cancel{
            background-color: $Secondary-Text-Color;
        }
    }
}