.truffle-list-item{

    display: flex;
    justify-content: space-between;

    &__container{
        width: 80%;
        display: flex;
        justify-content: space-around;
    }

    &__item{
        width: 20%;
        
    }
}