$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$Primary-Background-Color: #1FA3D4;
$Secondary-Background-Color: #86C7E2;
$Tertiary-Background-Color: #A4C1CA;
$Primary-Text-Color: #206F91;
$Primary-Text-Color: #5B879F;