.header{
    background-color: #1fa3d4;
    padding: 0 4rem;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav{
    display: flex;

    &__link{
        text-decoration: none;
        color: inherit;
    }

    &__link-text{
        margin-left: 2rem;
    }
}